@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/queries" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  text-decoration: none;
}

body {
  background-color: $violet;
  background-image: url("../assets/images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 2.5rem;
  min-height: 100vh;
  @include desktop {
    // background-size: cover;
    background-image: url("../assets/images/bg-desktop.svg");
    background-position: 0rem 0rem;
    padding: 4rem 5.3125rem 2.5rem 5rem;
  }
}

header {
  margin-bottom: 6.5rem;
}

.header-logo {
  width: 7.5rem;
  @include desktop {
    width: 12.5rem;
  }
}

.hero {
  margin-bottom: 4rem;
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  &__image {
    width: 100%;
    margin-bottom: 4rem;
    @include desktop {
      margin: 0;
      flex-grow: 1;
      margin-right: 3.75rem;
    }
  }
}

.hero-text {
  &__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      width: 32.5rem;
      text-align: left;
      align-items: flex-start;
    }
  }
  &__header {
    margin-bottom: 1rem;
    line-height: 2.25rem;
    font-size: 1.5rem;
    @include desktop {
      font-size: 2.5rem;
      line-height: 3.75rem;
      width: 30.4375rem;
    }
  }
  &__paragraph {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    @include desktop {
      font-size: 1.125rem;
      line-height: 1.7rem;
      width: 30rem;
    }
  }
}

.cta {
  &__structure {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    color: $violet;
    font-size: 0.75rem;
    @include desktop {
      font-size: 1.125rem;
      line-height: 1.7rem;
    }
  }
}

.page-footer {
  display: flex;
  justify-content: center;
  @include desktop {
    justify-content: flex-end;
  }
  &__icon-container {
    border: 1px solid white;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
  }
  &__icon {
    height: 0.75rem;
  }
}
